nav {
    margin-bottom: 30px;
}

h2 {
    margin-top: 30px;
}

#results {
    position: relative;
}

#controls, #error_controls {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30%;
    max-width: 150px;
    min-width: 120px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

#error_controls {
    top: initial;
    bottom: 5px;
    width: initial;
    min-width: initial;
    margin-bottom: initial;
}

#error_controls > div {
    margin-bottom: initial;
}

#controls button {
    width: 100%;
    margin-top: 5px;
}
#controls button:first-child {
    margin-top: 0px;
}

#figure {
    max-height: 600px;
}

.tse_form {
    bottom: 10px;
    background: white;
    border-radius: 5px;
    padding: 15px;
}
.sizelim {
    max-width: 336px;
}
